body {
  --font-backlink: "Barlow", "Recursive Monospace Casual";
}

.embedded-backlinks .backlink-pane {
  font-family: var(--font-backlink);
  align-self: center;
}

.backlink-pane>.tree-item-self .tree-item-inner {
  font-style: bold;
  font-size: 14px !important;
}